# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Other
*.c~
*.h~
*.log
*.gch

# Executables
graphics
algo
amazing_client
startup
*.exe
*.out
*.app
